{% extends 'base.html' %}

{% block content %}
      <br>
      <h3>Tour Details</h3>
      <hr>
      <img src="{{ MEDIA_URL }}{{ tour.image.url }}" alt="{{ x.tour.name }}" width="100%">
      <h3>{{ tour.name }}</h3>
      <br>
      <span class="text-success">Destination: </span><span>{{ tour.destination }}</span>
      <br>
      <span class="text-success">Price: </span><span>{{ tour.price }}</span>
      <br>
      <span class="text-success">Duration: </span><span>{{ tour.duration }}</span>
      <br>
      {% if not reviews %}
            <hr>
            {% if user.is_authenticated %}
                  <h3>Be the first one to write a review.</h3>
            {% endif %}
      {% else %}
            <span class="text-success">Overall Rating: </span><span class="badge badge-primary badge-pill">{{ tour_rating }}</span>
            <br>
            <hr>
            <h3>Comments</h3>
            <ul>
            {% for review in reviews %}
                  <li class="list-group-item">
                        <span class="text-success">Review comment: </span> <span>{{ review.comment }}</span>
                        <br>
                        <span class="text-success">Created on: </span><span>{{ review.date_created }}</span>
                        <br>
                        <span class="text-success">Rating: </span><span class="badge badge-secondary badge-pill">{{ review.rating }}</span>
                        <br>
                        <span class="text-success">Creator: </span><span>{{ review.creator.username }}</span>
                        <br>
                  </li>
            {% endfor %}
            </ul>
      {% endif %}
      {% if user.is_authenticated %}
      <a class="btn btn-success" href="{% url 'review_create' tour.pk %}">Add Review</a>
      {% endif %}
{% endblock %}